<h1>New user</h1>

<%# ENV.inspect %>

<form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post">
  <%= csrf_meta_tag %>
  <%= raw @form.to_html %>
  <div class="actions">
    <input name="commit" type="submit" value="Create User" />
  </div>
</form>

<%# render 'form' %>

<%= link_to 'Back', users_path %>
